.PageStartScreen {
  &-Image {
    fill: var(--black);
    fill-opacity: 0.1;
  }

  &-Text {
    color: var(--color-text-default);
    font-size: var(--text-font-size-default);
    line-height: 16px;
    text-align: center;
    max-width: 200px;
    margin-top: 32px;
    margin-bottom: 24px;
  }

  &-Button_space_bottom {
    margin-bottom: 28px;
  }
}
